<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input class="form-control" [(ngModel)]="tittle" placeholder="{{'title' | translate }}"/>
                <input class="form-control" [(ngModel)]="author" placeholder="{{'author' | translate }}"/>
                <button class="btn btn-default" (click)="createBook(tittle, author)">{{'create' | translate }}</button>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input class="form-control" [(ngModel)]="id" placeholder="{{'book_id' | translate }}"/>
                <button class="btn btn-default" (click)="deleteById(id)">{{'delete' | translate }}</button>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <button class="btn btn-default" (click)="refresh()">{{'update' | translate }}</button>
            </div>
        </div>
    </div>
    <table class="table table-striped" cellspacing="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>{{'title' | translate }}</th>
            <th>{{'author' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books">
            <td>{{book?.id}}</td>
            <td>{{book?.tittle}}</td>
            <td>{{book?.author}}</td>
        </tr>
        </tbody>
    </table>
</div>
